In [4]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = "localhost", 
    user = "root",
    password = ""
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001EB8992B790>

In [3]:
mycursor = mydb.cursor()
mycursor.execute("create database authorized_user")

In [4]:
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('authorized_user',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('students',)
('test',)

In [5]:
mydb = mysql.connector.connect(
    host = "localhost", 
    user = "root",
    password = "",
    database = "authorized_user"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE authorized_user_table(id INT PRIMARY KEY AUTO_INCREMENT, name VARCHAR(50), age INT, address varchar(100))")

In [18]:
sql="INSERT INTO stu_table(id, name, age) values (%s,%s,%s)"
val=(1, "Anurag", 20)
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted")

1 record inserted

In [22]:
sql="INSERT INTO stu_table(id, name, age) values (%s,%s,%s)"
val={(2, "Aditya", 20),
    (3, "Vibhor", 20)}
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted")

2 record inserted

In [24]:
mycursor.execute("select * from stu_table")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'Anurag', 20)
(2, 'Aditya', 20)
(3, 'Vibhor', 20)

In [9]:
mycursor.execute("show tables")
for x in mycursor:
    print(x)

('authorized_user_table',)

In [2]:
drop database authorized_user

SyntaxError: invalid syntax (268522492.py, line 1)